<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    Sender data



    <script>
        async function EnableNami() {

const nami_lib = await import('nami-wallet-api')

const Nami = await nami_lib.NamiWalletApi(
    window.cardano,
    "mainnetyMdkMEITDt8qY264wH20iZJ438VJd8Qp"
)
await Nami.enable()
console.log('Connected To Nami ', await Nami.isEnabled())
}
EnableNami()
    </script>


<script src="/javascripts/sender.js"></script>    
</body>
</html>